---
page_title: "Provider: NSX-T Intervlan Routing"
description: |-
  The NSX-T Intervlan Routing provider is an interface to the NSX Policy API for CRUD actions on parent & child ports.
---

# {{ .ProviderShortName | upper }} Provider

The NSX-T Intervlan Routing provider is an interface to the NSX Policy API for CRUD actions on parent & child ports.

Use the navigation to the left to read about the available resources.

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}